/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
    font-family: "Rhodium Libre", serif;
}

body {
    background-image: url('https://i.redd.it/3splx63nx8c01.png');
    background-size: cover;
    background-repeat: no-repeat;
}